name: Release

on:
  push:
    branches:
      #- main
      - alpha
      - beta

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Clean previous build
        shell: bash
        run: rm -rf release/build/* || true

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Package Electron app
        run: npm run package

      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: |
            release/build/**/*.exe
            release/build/**/*.dmg
            release/build/**/*.AppImage
          retention-days: 2

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      packages: write # to be able to publish to GitHub Packages
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - uses: actions/download-artifact@v4
        with:
          path: release/build/
      - name: Release with semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
